body {
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellowgreen;
  font-family: "Raleway", sans-serif;
}
.container {
  width: 600px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6); */
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  background: wheat;
}
label h4 {
  border: 1px solid;
  display: block;
}
#result {
  margin-top: 20px;
}
input,
select {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding: 5px;
}
